# Projeto 1 - Ci√™ncia dos Dados

Nome: Alberto Carrera

Nome: Gabriel Barbosa

Nome: Rodrigo Gomes

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [267]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [268]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
/Users/gabrielbarbosa/Desktop/Projeto1_CDados

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [269]:
filename = 'tesla.xlsx'

In [270]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @gnavarrocbz tesla √© totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah √©? elon musk √© o qu...              1
4                              @shipheroshe a tesla.              1

In [271]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,Classifica√ß√£o,Classificador
0,@h3nrys2 quem curtir aqui vai me dar um porsch...,1,NaN
1,terminei o bendito resumo do tesla e to me sen...,1,NaN
2,@mattayahumateus aluga um tesla matta,1,NaN
3,100% el√©trico: como foi a experi√™ncia de dirig...,3,NaN
4,gente off aqui eu tentei ouvir tesla na viagem...,3,NaN

In [272]:
test.value_counts()

Series([], dtype: int64)

In [273]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @gnavarrocbz tesla √© totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah √©? elon musk √© o qu...              1
4                              @shipheroshe a tesla.              1

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Classificados como 0: 
- Tweets que falam sobre Nikola Tesla
- Tweets que s√≥ marcam pessoas e n√£o falam sobre o produto


Classificados como 1:
- Fala sobre o produto


Classificados como 2:
- Falam diretamente sobre o produto, criticando ou elogiando


Classificados como 3:
- Falam diretamente sobre o produto, criticando ou elogiando
- Al√©m de se aprofundar no assunto, ou falando sobre a√ß√µes ou sobre planos futuros, etc.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [274]:
import re 


def cleanup(text):
    """
        Fun√ß√£o de limpeza muito simples que troca alguns sinais b√°sicos por espa√ßos
    """
    #import string
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    #biblio "emoji", get_emoji_regexp
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    return text_subbed
def arroba(text):
    punctuation = r'@\w+'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

def sacaarrobas(x):
    arrobas=[]
    palavras=x.split()
    for coisas in palavras:
        if coisas[0]=='@':
            arrobas.append(coisas)
    for palavra in arrobas:
        palavras.remove(palavra)
    sobra=' '.join(palavras)
    return sobra

In [275]:
train.Treinamento= train.Treinamento.apply(cleanup)
train.Treinamento=   train.Treinamento.apply(arroba)
treino.to_frame()

                                           Treinamento
0                tesla √© totalmente fora de cogita√ß√£o?
1    em 2025 a vw quer disponibilizar em algumas ci...
2                           diga isso ao dono do tesla
3    ah √©? elon musk √© o que? como ele montou a tes...
4                                             a tesla.
..                                                 ...
645  hawking e schr√∂dinger. as linhas de pensamento...
646  eh muito louco isso n√©. vi um v√≠deo do o tesla...
647  magnata chin√™s que comprou volvo da ford plane...
648  eletricidade foi o mais marcou a carreira de t...
649          do do do do do :) https://t.co/shryb3pxmn

[650 rows x 1 columns]

In [276]:
cat0=train.loc[train['Classifica√ß√£o']==0,:]
categoria0=cat0.Treinamento.apply(cleanup).to_frame()
tweets0=''
for tweet in categoria0.Treinamento:
    tweets0 += ' '
    tweets0+= str(tweet)

In [277]:
cat1=train.loc[train['Classifica√ß√£o']==1,:]
categoria1=cat1.Treinamento.apply(cleanup).to_frame()
tweets1=''
for tweet in categoria1.Treinamento:
    tweets1 += ' '
    tweets1+= str(tweet)

In [278]:
cat2=train.loc[train['Classifica√ß√£o']==2,:]
categoria2=cat2.Treinamento.apply(cleanup).to_frame()
tweets2=''
for tweet in categoria2.Treinamento:
    tweets2 += ' '
    tweets2+= str(tweet)

In [279]:
cat3=train.loc[train['Classifica√ß√£o']==3,:]
categoria3=cat3.Treinamento.apply(cleanup).to_frame()
tweets3=''
for tweet in categoria3.Treinamento:
    tweets3 += ' '
    tweets3+= str(tweet)

In [280]:
espaco_amostral_todos_tweets =tweets0+' '+tweets1+' '+tweets2+' '+tweets3

portugues = espaco_amostral_todos_tweets.split()
series_portugues = pd.Series(portugues)
series_portugues

0                         diga
1                         isso
2                           ao
3                         dono
4                           do
                 ...
10618                    tesla
10619                       me
10620                       da
10621                       um
10622    https//tco/hx8zjudtwy
Length: 10623, dtype: object

In [281]:
#Mostra quanto uma palavra apareceu em cada classificacao
todotweet0=tweets0.split()
series_todotweet0=pd.Series(todotweet0)
tabela_tweets0=series_todotweet0.value_counts(True)

todotweet1=tweets1.split()
series_todotweet1=pd.Series(todotweet1)
tabela_tweets1=series_todotweet1.value_counts(True)

todotweet2=tweets2.split()
series_todotweet2=pd.Series(todotweet2)
tabela_tweets2=series_todotweet2.value_counts(True)

todotweet3=tweets3.split()
series_todotweet3=pd.Series(todotweet3)
tabela_tweets3=series_todotweet3.value_counts(True)

In [282]:
#Acha a probabilidade de 0, 1, 2 e 3
prob0 = len(series_todotweet0)/len(series_portugues)
prob1 = len(series_todotweet1)/len(series_portugues)
prob2 = len(series_todotweet2)/len(series_portugues)
prob3 = len(series_todotweet3)/len(series_portugues)
soma = prob0+prob1+prob2+prob3
soma

0.9999999999999999

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [283]:
#dando cleanup na tabela de testes
test.Teste = test.Teste.apply(cleanup)
test.Teste = test.Teste.apply(arroba)

In [284]:
#rodando o classificador com os tweets teste
def classificador(tweet):
    split_tweet = tweet.split()
    lista_probcats=[]
    #Comecando o calculo da prob com 1 para nao zerar o resutado
    nao_relevante=1
    pouco_relevante=1
    medio_relevante=1
    muito_relevante=1
    
    #Calculando as probabilidades do tweets estar em cada uma das categorias
    for palavra in split_tweet:
        if palavra in portugues:
            
            if palavra in tabela_tweets0:
                c0= tabela_tweets0[palavra]
            else:
                c0=1 
            nao_relevante = nao_relevante*c0
                
            if palavra in tabela_tweets1:    
                c1= tabela_tweets1[palavra]
            else:
                c1=1
            pouco_relevante = pouco_relevante*c1
            
            if palavra in tabela_tweets2:
                c2= tabela_tweets2[palavra]
            else:
                c2 = 1     
            medio_relevante = medio_relevante*c2
            
            if palavra in tabela_tweets3:
                c3= tabela_tweets3[palavra]
            else:
                c3 = 1
            muito_relevante = muito_relevante*c3
        else:
            nao_relevante = nao_relevante*1
            pouco_relevante = pouco_relevante*1
            medio_relevante = medio_relevante*1
            muito_relevante = muito_relevante*1
    
        
    #Comparando as probabilidades
    lista_probcats.append(nao_relevante)
    lista_probcats.append(pouco_relevante)
    lista_probcats.append(medio_relevante)
    lista_probcats.append(muito_relevante)
    
    categoria_pertencente=max(lista_probcats)
    if categoria_pertencente == lista_probcats[0]:
        return 3
    if categoria_pertencente == lista_probcats[1]:
        return 1
    if categoria_pertencente == lista_probcats[2]:
        return 2
    if categoria_pertencente == lista_probcats[3]:
        return 0

In [285]:
test["classificador"] = test.Teste.apply(classificador)
test.tail(50)

,Teste,Classifica√ß√£o,Classificador,classificador
300,do do do do do https//tco/3b1z...,0,NaN,0
301,do do do do do babydoge babydo...,0,NaN,0
302,do do do do do babydoge babydoge...,0,NaN,0
303,do do do do do babydoge babydoge...,0,NaN,0
304,do do do do do https//tco/gbi8...,0,NaN,0
305,malditos templ√°rios acabaram com a hist√≥ria do...,0,NaN,0
306,einstein e tesla mas acho q o tesla recusaria...,0,NaN,0
307,tesla j√° era rico e bem sucedido antes de...,0,NaN,0
308,do do do do do babydoge babydo...,0,NaN,0
309,do do do do do babydoge babydoge...,0,NaN,0
310,https//tco/uxvplrdior\n\nbaita comparativo int...,2,NaN,2
311,tesla ter√° que dividir dados de sistema de dir...,1,NaN,1
312,se bem que o tesla n eh mt diferente do eins...,0,NaN,0
313,do do do do do babydoge babydoge...,0,NaN,0
314,hawking por ser o mais recente e newton por s...,0,NaN,0
315,do do do do do babydoge babydoge...,0,NaN,0
316,do do do do do babydoge babydo...,0,NaN,0
317,newton e tesla n sei kkk,0,NaN,0
318,do do do do do babydoge babydoge...,0,NaN,0
319,como eu amo essa referencia ao nikola tesla no...,0,NaN,0
320,tesla e einsten dariam uma boa ajuda,0,NaN,0
321,do do do do do babydoge babydo...,0,NaN,0
322,do do do do do babydoge babydoge...,0,NaN,0
323,fui no anivers√°rio da minha prima e o padrinho...,0,NaN,0
324,como eu sou burro e o einstein j√° repetiu mt ...,0,NaN,0
325,homem fez o ‚Äúgolpe do atropelamento‚Äù mas tesla...,0,NaN,0
326,eu ia pedir a ajuda de tesla s√≥ pq eu n quero...,0,NaN,0
327,ai agnt pegou tbm a bborges a jullya e o kau√£ ...,1,NaN,0
328,do do do do do babydoge babydoge...,0,NaN,0
329,e hoje o filho dele √© o bilionario dono da te...,1,NaN,0
330,pior que o plano do tesla era usar eletricida...,0,NaN,0
331,https//tco/o6pjjvbof5\n\nfoi essa mesma pergun...,2,NaN,0
332,sonhei com um tesla hj senhor se for sua vonta...,1,NaN,0
333,do do do do do babydoge babydoge...,0,NaN,0
334,cade meu tesla,1,NaN,2
335,tesla √© um dos maiores f√≠sicos da hist√≥ria m...,0,NaN,0
336,do do do do do https//tco/a6fu...,0,NaN,0
337,tesla brabo n√©,1,NaN,2
338,ser√° que o sw √© realmente outro\n\nser√° que n...,1,NaN,2
339,do do do do do babydoge babydo...,0,NaN,0
340,um gajo num tesla a tirar macacos do nariz,1,NaN,0
341,eu conto ou voces s√£o a not√≠cia\nüòÅüòÅüòÅüòÅüòÅüòÅ\n\nl...,0,NaN,0
342,se voc√™ quiser descobrir os segredos do univer...,0,NaN,0
343,hawking e tesla e o resto faz as quest√£o\n\nfi...,0,NaN,0
344,esse sinal do tesla demora pra bater hein,0,NaN,2
345,do do do do do babydoge babydo...,0,NaN,0
346,do do do do do https//tco/ej9p...,0,NaN,0
347,do do do do do https//tco/htom...,0,NaN,0
348,diz a√≠ como que um ladr√£o deixa 380bilh√µes d...,0,NaN,0
349,gracias emilio disparo √∫nico ∆í/28 15s is...,0,NaN,1

In [286]:
"""
def p(n)def p(n)":
    x = 0
    y = 0
    if p == test.classificador:
        x+=1
        y+=1
    else:
        y+=1
    return (x/y)*100

test.Classifica√ß√£o.apply(p)
"""

valores_inseridos = []
for x in test.Classifica√ß√£o:
    valores_inseridos.append(x)
    
valores_calculados = []
for y in test.classificador:
    valores_calculados.append(y)
    
acertos = 0 
total = 0
i =0 
while i <= len(test.classificador) - 1:
    if valores_calculados[i] == valores_inseridos[i]:
        acertos +=1
    total +=1
    i+=1

porcentagem_de_acertos = acertos/total
print(porcentagem_de_acertos*100)

46.285714285714285

In [287]:
#test.Teste.apply(classificador1)

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**

##