# Projeto 1 - Ci√™ncia dos Dados

Nome: Alberto Carrera

Nome: Gabriel Barbosa

Nome: Rodrigo Gomes

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\alber\OneDrive\√Årea de Trabalho\C Dados\Projeto 1 Cdados\Pasta Projeto 1\Projeto1_CDados

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [24]:
filename = 'tesla.xlsx'

In [25]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @gnavarrocbz tesla √© totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah √©? elon musk √© o qu...              1
4                              @shipheroshe a tesla.              1

In [26]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Classifica√ß√£o
0  @h3nrys2 quem curtir aqui vai me dar um porsch...              1
1  terminei o bendito resumo do tesla e to me sen...              1
2              @mattayahumateus aluga um tesla matta              1
3  100% el√©trico: como foi a experi√™ncia de dirig...              3
4  gente off aqui eu tentei ouvir tesla na viagem...              3

In [45]:
test.value_counts()

Teste                                                                                                                                                                                                                                     Classifica√ß√£o
üöóa montadora #tesla planeja lan√ßar um carro el√©trico sem volante, a partir de 2023. a previs√£o de #elonmusk √© que o novo ve√≠culo seja totalmente aut√¥nomo #tesla34\nhttps://t.co/gxiubnw3mq                                               3                1
@rhsmarks @thiago08478647 hmmmmm bom a tesla abrir os olhos ent√£o, eles j√° fizeram algum movimento nessa dire√ß√£o?                                                                                                                         1                1
@patriotalisian2 @ivesantos7 acabei de te seguir, minha linda!                                                                                                                                                                            0                1
@pdunkelsz @adrogadadomonte @lticooficial @anonymouscrec sim, pra policia ir comer teu cu dps, cara foi esperto em comprar algo de 70 conto enquanto tem gente comprando at√© tesla importado                                              1                1
@pedrocalvo @kleytonmadruga @akitaonrails pra mim isso foi lobby da china afinal s√£o eles que v√£o fabricar carro el√©trico para todo.\n\na ind√∫stria √© muito menos complexa q carro a combust√£o.\n\nn√£o vai ser um tesla, mas vai andar üòÜ  1                1
                                                                                                                                                                                                                                                          ..
fim de carreira pra tesla ! https://t.co/4lnyprxuet                                                                                                                                                                                       1                1
fmlia, montei o meu tesla, ficou baratinho https://t.co/grmlhw6kre                                                                                                                                                                        1                1
ford recluta doug field ex dirigente apple car e tesla -  #recluta #field #dirigente #apple  https://t.co/jsrzgbed14                                                                                                                      1                1
formar e arrumar um trampo foda pra ter grana pra comprar um tesla                                                                                                                                                                        2                1
"a vida √© e sempre ser√° uma equa√ß√£o incapaz de solu√ß√£o, mas cont√©m certos fatores conhecidos."\n\nnikola tesla.                                                                                                                           0                1
Length: 350, dtype: int64

In [27]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @gnavarrocbz tesla √© totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah √©? elon musk √© o qu...              1
4                              @shipheroshe a tesla.              1

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Classificados como 0: 
- Tweets que falam sobre Nikola Tesla
- Tweets que s√≥ marcam pessoas e n√£o falam sobre o produto


Classificados como 1:
- Fala sobre o produto


Classificados como 2:
- Falam diretamente sobre o produto, criticando ou elogiando


Classificados como 3:
- Falam diretamente sobre o produto, criticando ou elogiando
- Al√©m de se aprofundar no assunto, ou falando sobre a√ß√µes ou sobre planos futuros, etc.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [28]:
import re 


def cleanup(text):
    """
        Fun√ß√£o de limpeza muito simples que troca alguns sinais b√°sicos por espa√ßos
    """
    #import string
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    #biblio "emoji", get_emoji_regexp
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [48]:
treino = train.Treinamento.apply(cleanup)
train

                                           Treinamento  Classifica√ß√£o
0    @gnavarrocbz tesla √© totalmente fora de cogita...              1
1    em 2025 a vw quer disponibilizar em algumas ci...              2
2                @repl1cunt diga isso ao dono do tesla              0
3    @al43610394 @felipeneto ah √©? elon musk √© o qu...              1
4                                @shipheroshe a tesla.              1
..                                                 ...            ...
645  @memeinteligente hawking e schr√∂dinger. as lin...              0
646  @astronomiaum eh muito louco isso n√©. vi um v√≠...              0
647  magnata chin√™s que comprou volvo da ford plane...              0
648  eletricidade foi o mais marcou a carreira de t...              0
649  @trbabydogecoin @binance @babydogecoin @elonmu...              0

[650 rows x 2 columns]

In [37]:
def categoria0(x):
    lista0=[]
    i=2
    while i<651:
        numero = train.Classifica√ß√£o[i]
        if numero == 0:
            lista0.append(train.Treinamento)

AttributeError: 'Series' object has no attribute 'train'

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [30]:
test.Teste.apply(cleanup)

0      @h3nrys2 quem curtir aqui vai me dar um porsch...
1      terminei o bendito resumo do tesla e to me sen...
2                  @mattayahumateus aluga um tesla matta
3      100 el√©trico como foi a experi√™ncia de dirigir...
4      gente off aqui eu tentei ouvir tesla na viagem...
                             ...
345    @trbabydogecoin @binance @babydogecoin @elonmu...
346    @trbabydogecoin @binance @babydogecoin @elonmu...
347    @trbabydogecoin @binance @babydogecoin @elonmu...
348    @rubidio_tesla @brega_falcao diz a√≠ como que u...
349    @emaciasg @albertoroldan_ @esa_es @sonyespana ...
Name: Teste, Length: 350, dtype: object

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**