# Projeto 1 - Ciência dos Dados

Nome: Alberto Carrera

Nome: Gabriel Barbosa

Nome: Rodrigo Gomes

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [4]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\alber\OneDrive\Área de Trabalho\C Dados\Projeto 1 Cdados\Pasta Projeto 1\Projeto1_CDados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [5]:
filename = 'tesla.xlsx'

In [6]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Classificação
0  @gnavarrocbz tesla é totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah é? elon musk é o qu...              1
4                              @shipheroshe a tesla.              1

In [7]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,Classificação,Classificador
0,@h3nrys2 quem curtir aqui vai me dar um porsch...,1,NaN
1,terminei o bendito resumo do tesla e to me sen...,1,NaN
2,@mattayahumateus aluga um tesla matta,1,NaN
3,100% elétrico: como foi a experiência de dirig...,3,NaN
4,gente off aqui eu tentei ouvir tesla na viagem...,3,NaN

In [8]:
test.value_counts()

Series([], dtype: int64)

In [9]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

                                         Treinamento  Classificação
0  @gnavarrocbz tesla é totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah é? elon musk é o qu...              1
4                              @shipheroshe a tesla.              1

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

Classificados como 0: 
- Tweets que falam sobre Nikola Tesla
- Tweets que só marcam pessoas e não falam sobre o produto


Classificados como 1:
- Fala sobre o produto


Classificados como 2:
- Falam diretamente sobre o produto, criticando ou elogiando


Classificados como 3:
- Falam diretamente sobre o produto, criticando ou elogiando
- Além de se aprofundar no assunto, ou falando sobre ações ou sobre planos futuros, etc.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [10]:
import re 


def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[!-.:?;]' # Note que os sinais [] são delimitadores de um conjunto.
    #biblio "emoji", get_emoji_regexp
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    return text_subbed
def sacarroba(string):
    punctuation = r'@\w+'
    pattern = re.compile(punctuation)
    final = re.sub(pattern, '', string)
    return final 


def removelink (link):
    palavras = []
    lista = link.split()
    for p in lista:
        if p[0] == 'h' and p[1] == 't' and p[2] == 't' and p[3] == 'p' and p[4] == 's':
            palavras.append(p)
    for palavra in palavras:
        lista.remove(palavra)
    final2 = ' '.join(lista)
    return final2

In [11]:
train.Treinamento= train.Treinamento.apply(cleanup)
train.Treinamento=   train.Treinamento.apply(sacarroba)
train.Treinamento=   train.Treinamento.apply(removelink)

In [12]:
cat0=train.loc[train['Classificação']==0,:]
categoria0=cat0.Treinamento.apply(cleanup).to_frame()
tweets0=''
for tweet in categoria0.Treinamento:
    tweets0 += ' '
    tweets0+= str(tweet)

In [13]:
cat1=train.loc[train['Classificação']==1,:]
categoria1=cat1.Treinamento.apply(cleanup).to_frame()
tweets1=''
for tweet in categoria1.Treinamento:
    tweets1 += ' '
    tweets1+= str(tweet)

In [14]:
cat2=train.loc[train['Classificação']==2,:]
categoria2=cat2.Treinamento.apply(cleanup).to_frame()
tweets2=''
for tweet in categoria2.Treinamento:
    tweets2 += ' '
    tweets2+= str(tweet)

In [15]:
cat3=train.loc[train['Classificação']==3,:]
categoria3=cat3.Treinamento.apply(cleanup).to_frame()
tweets3=''
for tweet in categoria3.Treinamento:
    tweets3 += ' '
    tweets3+= str(tweet)

In [16]:
espaco_amostral_todos_tweets =tweets0+' '+tweets1+' '+tweets2+' '+tweets3

portugues = espaco_amostral_todos_tweets.split()
series_portugues = pd.Series(portugues)
series_portugues

0         diga
1         isso
2           ao
3         dono
4           do
         ...
10368       um
10369    tesla
10370       me
10371       da
10372       um
Length: 10373, dtype: object

In [17]:
#Mostra quanto uma palavra apareceu em cada classificacao
todotweet0=tweets0.split()
series_todotweet0=pd.Series(todotweet0)
tabela_tweets0=series_todotweet0.value_counts(True)

todotweet1=tweets1.split()
series_todotweet1=pd.Series(todotweet1)
tabela_tweets1=series_todotweet1.value_counts(True)

todotweet2=tweets2.split()
series_todotweet2=pd.Series(todotweet2)
tabela_tweets2=series_todotweet2.value_counts(True)

todotweet3=tweets3.split()
series_todotweet3=pd.Series(todotweet3)
tabela_tweets3=series_todotweet3.value_counts(True)

In [18]:
#Acha a probabilidade de 0, 1, 2 e 3
prob0 = len(series_todotweet0)/len(series_portugues)
prob1 = len(series_todotweet1)/len(series_portugues)
prob2 = len(series_todotweet2)/len(series_portugues)
prob3 = len(series_todotweet3)/len(series_portugues)
soma = prob0+prob1+prob2+prob3
soma

0.9999999999999999

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [21]:
#dando cleanup na tabela de testes
test.Teste = test.Teste.apply(cleanup)
test.Teste = test.Teste.apply(sacarroba)
test.Teste =   train.Treinamento.apply(removelink)

In [22]:
#rodando o classificador com os tweets teste
def classificador(tweet):
    split_tweet = tweet.split()
    lista_probcats=[]
    #Comecando o calculo da prob com 1 para nao zerar o resutado
    nao_relevante=1
    pouco_relevante=1
    medio_relevante=1
    muito_relevante=1
    
    #Calculando as probabilidades do tweets estar em cada uma das categorias
    for palavra in split_tweet:
        if palavra in portugues:
            
            if palavra in tabela_tweets0:
                c0= tabela_tweets0[palavra]
            else:
                c0=1 
            nao_relevante = nao_relevante*c0
                
            if palavra in tabela_tweets1:    
                c1= tabela_tweets1[palavra]
            else:
                c1=1
            pouco_relevante = pouco_relevante*c1
            
            if palavra in tabela_tweets2:
                c2= tabela_tweets2[palavra]
            else:
                c2 = 1     
            medio_relevante = medio_relevante*c2
            
            if palavra in tabela_tweets3:
                c3= tabela_tweets3[palavra]
            else:
                c3 = 1
            muito_relevante = muito_relevante*c3
        else:
            nao_relevante = nao_relevante*1
            pouco_relevante = pouco_relevante*1
            medio_relevante = medio_relevante*1
            muito_relevante = muito_relevante*1
    
        
    #Comparando as probabilidades
    lista_probcats.append(nao_relevante)
    lista_probcats.append(pouco_relevante)
    lista_probcats.append(medio_relevante)
    lista_probcats.append(muito_relevante)
    
    categoria_pertencente=max(lista_probcats)
    if categoria_pertencente == lista_probcats[0]:
        return 0
    if categoria_pertencente == lista_probcats[1]:
        return 1
    if categoria_pertencente == lista_probcats[2]:
        return 2
    if categoria_pertencente == lista_probcats[3]:
        return 3

In [23]:
test["classificador"] = test.Teste.apply(classificador)
test.tail(50)

,Teste,Classificação,Classificador,classificador
300,já pensou grades pontos de carregamento nas es...,0,NaN,3
301,queria um teslabot pra lavar louça molhar as p...,0,NaN,3
302,nikolas tesla falava vivemos em um mundo no qu...,0,NaN,3
303,welp acabei de acordar de uma sesta de duas ho...,0,NaN,3
304,samuel desde ontem falando de tesla,0,NaN,3
305,um sonho comprar um tesla model 3 kkkkkkk,0,NaN,3
306,hey eloína charge my tesla,0,NaN,1
307,na vdd a bicha é milionária anda de tesla e pr...,0,NaN,3
308,se me perguntarem hoje meu carro dos sonhos te...,0,NaN,3
309,pra mim qm compra tesla branco não é certo da ...,0,NaN,3
310,homem fez o “golpe do atropelamento” mas tesla...,2,NaN,3
311,e por isso q eu e o usa tesla,1,NaN,2
312,bd perso cade meu tesla,0,NaN,2
313,tw 1º ano do tesla,0,NaN,3
314,me da um tesla,0,NaN,1
315,vdd eu sou um tesla,0,NaN,3
316,eu acho chato matemática só estudei matemática...,0,NaN,3
317,maior merda é que eu era fissurado na tesla e ...,0,NaN,3
318,sera que vai funcionar no meu tesla,0,NaN,3
319,eu não sigo muito as conferências da tesla mas...,0,NaN,3
320,se eu escolher o vermelho eu posso ser como o ...,0,NaN,3
321,o corpo é 70 água você não é gorda mas sim ala...,0,NaN,3
322,a briga não era contra a eletricidade essa ima...,0,NaN,3
323,bom disso tudo é que ele revolucionou mundo ci...,0,NaN,3
324,ta safe tesla dormia menos e foi um gênio,0,NaN,3
325,nikola tesla e um cara bacana,0,NaN,3
326,alguém me explica o por que de não aprender na...,0,NaN,3
327,meus parabéns 👏🏻👏🏻aproveite muito 😃,1,NaN,3
328,cês tem razão maldito gurgel que não fabricou ...,0,NaN,3
329,uaw tesla incoming,1,NaN,1
330,é o nikola tesla,0,NaN,2
331,top 10 ações americanas mais procuradas por br...,2,NaN,3
332,coincido tesla,1,NaN,1
333,tesla musk quer lançar carrro sem voltante em ...,0,NaN,0
334,compre um tesla quem puder,1,NaN,3
335,bigodinho de nicolas tesla e cabeça do megamen...,0,NaN,3
336,sim como aqueles do “invista 250€ na tesla”,0,NaN,3
337,homem finge ser atropelado e é incriminado pel...,1,NaN,3
338,tesla manias e coisas que você não sabia via,1,NaN,3
339,par exemple ou autre,0,NaN,1
340,ainda acho que belzebu vs sakata kintoki combi...,1,NaN,3
341,hostia acho tarde no 😂,0,NaN,3
342,não sabia q a space x tava falindo a tesla tbm...,0,NaN,3
343,é um tesla,0,NaN,3
344,eu assisti a história do tesla quase chorei,0,NaN,3
345,assim como tesla truck nem todo mundo acha bon...,0,NaN,3
346,modelo novo da tesla,0,NaN,3
347,me as a quality control supervisor at tesla,0,NaN,3
348,ate o tesla vai ter recesso e essa bosta do in...,0,NaN,3
349,acho que o mundo vai ser tipo um cyberpunk em ...,0,NaN,3

In [24]:
#Acurácia
valores_inseridos = []
for x in test.Classificação:
    valores_inseridos.append(x)
    
valores_calculados = []
for y in test.classificador:
    valores_calculados.append(y)
    
acertos = 0 
total = 0
i =0 
while i <= len(test.classificador) - 1:
    if valores_calculados[i] == valores_inseridos[i]:
        acertos +=1
    total +=1
    i+=1

porcentagem_de_acertos = acertos/total
print(porcentagem_de_acertos*100)

11.428571428571429

In [31]:
#Verificando a Performance
verdadeiros_positivos=0
falsos_positivos=0
verdadeiros_negativos=0
falsos_negativos=0


valores_inseridos = []
for x in test.Classificação:
    valores_inseridos.append(x)
valores_calculados = []
for y in test.classificador:
    valores_calculados.append(y)

acertos=0
total=0
i=0
while i<=len(test.classificador)-1:
    if valores_inseridos[i]>0 and valores_inseridos[i]==valores_calculados[i]:
        verdadeiros_positivos+=1
    elif valores_inseridos[i]==0 and valores_calculados[i]!=valores_inseridos[i]:
        falsos_positivos+=1
    elif valores_calculados[i]==0 and valores_calculados[i]==valores_inseridos[i]:
        verdadeiros_negativos+=1
    elif valores_inseridos[i]>0 and valores_calculados[i]==0:
        falsos_negativos+=1
    i+=1


porcentagem_verdadeiros_positivos=verdadeiros_positivos/350
porcentagem_falsos_positivos=falsos_positivos/350
porcentagem_verdadeiros_negativos=verdadeiros_negativos/350
porcentagem_falsos_negativos=falsos_negativos/350

print(porcentagem_verdadeiros_positivos)
print(porcentagem_falsos_positivos)
print(porcentagem_verdadeiros_negativos)
print(porcentagem_falsos_negativos)

0.10857142857142857
0.5257142857142857
0.005714285714285714
0.005714285714285714

___
### Concluindo

A acurácia do classificador foi efetada por um spam de tweets de um certo tipo, provavelmente derivados de um concurso ou sorteio. Além do mais, pela pouca quantidade de tweets captados (1000), não foi possível uma base de dados extensa. Resultando em um classificador pouco efetivo.

Mensagens com sarcasmo tem uma probabilidade maior de serem classificadas erroniamente, pois qunado alguém fala com sarcasmo, é preciso se levar em consideração o tom da voz e/ou interpretar o texto, duas coisas que um classificador com esse nível de complexidade não consegue realizar.

O projeto deve continuar a ser financiado, pois com mais tempo, será possível captar mais tweets em um período maior de tempo, logo aumentando a precisão com que o classificador funciona.

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**

##