# Projeto 1 - Ciência dos Dados

Nome: Alberto Carrera

Nome: Gabriel Barbosa

Nome: Rodrigo Gomes

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\alber\OneDrive\Área de Trabalho\C Dados\Projeto 1 Cdados\Pasta Projeto 1\Projeto1_CDados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [4]:
filename = 'tesla.xlsx'

In [5]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Classificação
0  @gnavarrocbz tesla é totalmente fora de cogita...              1
1  em 2025 a vw quer disponibilizar em algumas ci...              2
2              @repl1cunt diga isso ao dono do tesla              0
3  @al43610394 @felipeneto ah é? elon musk é o qu...              1
4                              @shipheroshe a tesla.              1

In [6]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Revisao
0  @h3nrys2 quem curtir aqui vai me dar um porsch...      1.0
1  terminei o bendito resumo do tesla e to me sen...      1.0
2              @mattayahumateus aluga um tesla matta      1.0
3  100% elétrico: como foi a experiência de dirig...      3.0
4  gente off aqui eu tentei ouvir tesla na viagem...      3.0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**